RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

#Zadatak 3
RewriteRule  ^shorten/?$   backend_tests/url_shortener/shorten.php   [NC,L]    # Handle requests for "shorten", used for testing GET requests
RewriteRule  ^url_shortener/?$  backend_tests/url_shortener/index.php [NC,L] # Handle Request for url_shortener app interface
RewriteRule  ^([0-9A-Za-z]+)$   backend_tests/url_shortener/openUrl.php?shortUrl=$1   [NC,L]    # Handle requests for "openUrl"

